{% extends 'base.html' %}

{% block title %}
hello
{% endblock title %}

{% block body %}










<div class="container-fluid px-0 ">
    <img src="/static/images/about2.png" class="d-block w-100" alt="..." width="1600" >
</div>

<div class="container-fluid px-0">
    <img src="/static/images/about1.png" class="d-block w-100" alt="..." width="1600" >
</div>

<div class="container-fluid px-0 ">
    <img src="/static/images/about3.png" class="d-block w-100" alt="..." width="1600" >
</div>
<div class="container-fluid px-0 ">
    <img src="/static/images/about5.png" class="d-block w-100" alt="..." width="1600" >
</div>





{% endblock body %}